.container {
    input {
        background: #c4c4c4;
        color: #121212;
        border-radius: 10px;
        padding: 5px;
        border: none;
    }

    div {
        margin-bottom: 12px;
    }
}